extends layout_manage

block content
	.a-conteiner-flexible-fixed
		span.a-modal-close
	include ./header
	.a-table-admin.__a-for-goods(data-load="https://chtotokrasivoe.com/auc.php" data-template="allGoods")
		.a-container-search
			.a-search-box
				input#a-search-admin(type='text', name='search', placeholder='Поиск товара')
			p Искать товар по названию
		h1.a-head-font-left-side Все товары
		view.a-all-goods-table
			
	include ../footer