.a-footer
	width 100%
	background url('../img/footer.png')

.a-footer-container
	width w 
	padding 20px
	margin 0 auto
	font-family HelveticaRoman
	display flex
	color #fff
	font-size 12px
	color fontg
	justify-content space-between
	align-items center
	
@media screen and (max-width: 1024px)
	.a-footer-container
		width 100%

@media screen and (max-width: 600px)		
	.a-footer-container
		flex-wrap wrap 
		justify-content center