.a-else-goods
	width w
	margin 0 auto 20px
	display flex
	justify-content space-beetwen
	align-items flex-start
	flex-wrap wrap
	position relative
	min-height 200px

.a-head-font 
	padding 50px 0
	font-size 50px
	text-align center
	font-family HelveticaThin
	position relative
	z-index 1
	display table 
	margin 0 auto
	&:before 
		content ""
		position absolute
		right 100%
		width 120px
		height 50px
		background url('../img/sprite.png') -475px -75px
	&:after 
		content ""	
		position absolute
		left 101%
		width 120px
		height 50px
		background url('../img/sprite.png') -475px -8px

.a-goods__item__reisizers
	width 100%
	display flex
	align-items flex-start
	flex-wrap wrap

.a-else-goods__item
	width 50%
	display flex

.a-else-goods__item img 
	box-shadow 0 0 30px -2px rgba(0,0,0,.2)
	cursor pointer
	
.a-else-goods__description
	margin-left 24px

.__with-triangle-left-medium img
	width 200px
	position relative

.__with-triangle-left-medium	
	position relative

.a-resizer-masonry
	position relative

.__without-triangle-left-min img
	width 144px

.__without-triangle-left-min
	margin-top -120px
	padding 0 0 20px 165px
	position relative
	&:before
		content ""
		background url('../img/sprite.png')
		width 55px
		height 55px
		position absolute
		left 205px
		bottom 106px
		background-position -500px -92px
		z-index 1
		

.__without-triangle-left-min.a-add-new-background:before
	width 90px
	height 55px
	position absolute
	left 175px
	bottom 106px
	background-position -485px -195px
	
.__with-waves-rigth-high:after
	background greys
	width 200px
	height 200px
	content ""
	position absolute
	bottom -45px
	right -45px

.__with-waves-rigth-high img
	width 300px
	
.__with-waves-rigth-high
	padding-top 20px
	flex-direction row-reverse
	position relative
	&:after
		background greys
		width 200px
		height 200px
		content ""
		position absolute
		bottom -45px
		right -45px
		z-index -1

.__with-waves-rigth-high .a-resizer-masonry:before
		content ""
		background-image url('../img/sprite.png')
		width 300px
		height 315px
		position absolute
		left -155px
		bottom -161px
		background-position 0px -450px

.__with-waves-rigth-high.a-add-new-background:before
	content ""
	background-position -473px -292px
	height 100px

.__with-waves-rigth-high.__to_left-no-margin .a-else-goods__description
	margin-left 0
	padding-top 30px	

.a-else-goods__description_info
	padding-bottom 25px


.a-else-goods__description_info-link
	width 100%
	display inline-block
	position relative
	padding 5px 0
	font-size 14px
	font-family HelveticaRoman
	cursor pointer

.a-else-goods__description_info-link i 
	color green
	border-bottom 1px dotted green
	transition all .2s ease-out
	padding 2px 0 1px 0
	&:hover
		border-bottom 1px dotted rgba(0,0,0,0)
		color rgba(19,19,19,.5) i
	&:hover span 
		display block

	
.a-else-goods__description_info-link span 
	display none
	position absolute 
	font-family HelveticaRoman
	font-size 14px
	padding 9px 15px 7px
	left 0
	line-height 20px
	bottom 120%
	background greenTooltip
	color #fff
	text-transform capitalize
	&:before
		content ''
		position absolute
		left 0px
		bottom -5px
		border 5px solid transparent
		border-left: 5px solid greenTooltip
	
.a-else-goods
	width w
	
.a-number-goods 
	color fontg
	font-family HelveticaRoman
	font-size 14px
	
.a-else-goods-descroption
	font-family HelveticaLight
	padding 10px 0 5px 0
	font-size 25px
	
.a-old-price, .a-new-price
	color fontg
	font-family HelveticaRoman
	font-size 14px
	padding-bottom 15px 
	line-height 22px

.a-new-price
	line-height 30px

.a-old-price span 
	display block 

.a-new-price span 
	font-family HelveticaLight
	display block 
	font-size 25px
	
.a-image-to-zoom
	cursor pointer

@media screen and (max-width: 1024px)	
	.a-else-goods
		width 100%
		
	.a-goods__item__reisizers
		justify-content center
		
	.a-else-goods__item
		width 100%
		justify-content center
		
	.__with-triangle-left-medium .a-resizer-masonry:before
		left -170px
		
	.__with-waves-rigth-high:after
		display none
		
	.__without-triangle-left-min img
		width 250px
		
	.a-else-goods__item.__without-triangle-left-min  
		padding-top 25px
		margin 0
		
@media screen and (max-width: 600px)	
	.a-else-goods__item
		flex-wrap wrap
		
	.__with-triangle-left-medium img
		width 300px
		
	.__without-triangle-left-min img
		width 300px
		
	.a-else-goods__description
		margin 20px 0 0 0
		
	.a-number-goods
		font-size 25px
		font-family HelveticaThin
		
	.a-else-goods-descroption
		font-family HelveticaThin
		padding 10px 0 5px
		font-size 45px
		
	.a-else-goods__description_info-link
		font-size 25px
		font-family HelveticaThin
		
	.a-new-price, .a-old-price
		font-size 22px
		padding-bottom 15px
		font-family HelveticaThin
	
	.a-old-price span
		padding-top 10px
		font-size 28px
		
	.a-new-price span
		padding-top 10px
		font-size 35px
		
	.__without-triangle-left-min
		padding 0